.App {
  text-align: center;
}

.smooth-enter {
  opacity: 0.01;
}

.smooth-enter.smooth-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.smooth-leave {
  opacity: 1;
}

.smooth-leave.smooth-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

.smooth-appear {
  opacity: 0.01;
}

.smooth-appear.smooth-appear-active {
  opacity: 1;
  transition: opacity .5s ease-in;
}
